* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.logo img {
    height: 50px;
    margin-left: 100px;
}

.menu ul {
    display: flex;
    margin-left: 400px;
    
}

.menu ul li {
    list-style: none;
    margin-left: 30px;
    font-size: large;
    border-radius: 10px;
    padding: 5px;
}

.menu ul li:hover {
    background-color: #b9ff66;
}

.btn button {
    font-size: large;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;  
    color: white;
    background-color: #b9ff66;
    cursor: pointer;
}

.btn button:hover {
    background-color: #191a23;
}

.main {
    display: flex;
    padding-top: 100px;
    margin-left: 100px;
}

.head h1 {
    font-size:60px;
    font-family: 'Courier New', Courier, monospace;
}

.head p {
    padding-top: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.image img {
    height: 400px;
    margin-left: 200px ;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

.image img:hover {
    filter: grayscale(0%);
}

.head button {
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    color: #f3f3f3;
    background-color: #b9ff66;
    cursor: pointer;
}

.head button:hover {
    background-color: #191a23;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-right: 100px;
}

.amazon img {
    width: 100px;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    cursor: pointer;
}

.amazon img:hover {
    filter: grayscale(0%);
}

.dribble img {
    width: 100px;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    cursor: pointer;
}

.dribble img:hover {
    filter: grayscale(0%);
}

.hubspot img {
    width: 100px;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    cursor: pointer;
}

.hubspot img:hover {
    filter: none;
}

.notion img {
    width: 100px;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    cursor: pointer;
}

.notion img:hover {
    filter: none;
}

.netflix img {
    width: 100px;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    cursor: pointer;
}

.netflix img:hover {
    filter: none;
}

.zoom img {
    width: 100px;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    cursor: pointer;
}

.zoom img:hover {
    filter: none;
}
