* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo img {
    height: 50px;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin-left: 50px;
}

.btn button {
    font-size: x-large;
}

